.UserInput{
    text-align: center;
    box-sizing: border-box;
    padding: 50px;
    padding-bottom: 350px;
}
.UserInput input{
    width: 20%;
    padding: 15px;
    font-size: 30px;
    padding-right: 6%;
}

.UserInput button{
    margin-left: -5%;
}

